Flow 3/flow3.json
[
    {
        "id": "c9ca7667f448c0bd",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6a32e7909af7d682",
        "type": "mqtt in",
        "z": "c9ca7667f448c0bd",
        "name": "",
        "topic": "sic/flow3/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "9444b20d50b50c52",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "daae2107834898a7"
            ]
        ]
    },
    {
        "id": "daae2107834898a7",
        "type": "json",
        "z": "c9ca7667f448c0bd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "f2e0bdac0a815908",
                "6d03175159463022",
                "c0daa5ad99cdaf77"
            ]
        ]
    },
    {
        "id": "f2e0bdac0a815908",
        "type": "function",
        "z": "c9ca7667f448c0bd",
        "name": "",
        "func": "msg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 100,
        "wires": [
            [
                "24843594349f823e"
            ]
        ]
    },
    {
        "id": "6d03175159463022",
        "type": "function",
        "z": "c9ca7667f448c0bd",
        "name": "",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 140,
        "wires": [
            [
                "b731c4b6d9623e1e"
            ]
        ]
    },
    {
        "id": "c0daa5ad99cdaf77",
        "type": "function",
        "z": "c9ca7667f448c0bd",
        "name": "",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "445e5acb5539f71c"
            ]
        ]
    },
    {
        "id": "24843594349f823e",
        "type": "ui_text",
        "z": "c9ca7667f448c0bd",
        "group": "50f5585c3d6a003d",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "b731c4b6d9623e1e",
        "type": "ui_gauge",
        "z": "c9ca7667f448c0bd",
        "name": "",
        "group": "50f5585c3d6a003d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "-30",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "445e5acb5539f71c",
        "type": "ui_chart",
        "z": "c9ca7667f448c0bd",
        "name": "",
        "group": "771292fba12a35fe",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Historico de temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-30",
        "ymax": "45",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 780,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9444b20d50b50c52",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "35.157.158.119",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "50f5585c3d6a003d",
        "type": "ui_group",
        "name": "Valores actuales",
        "tab": "15f61b70a11fa5a1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "771292fba12a35fe",
        "type": "ui_group",
        "name": "Historico",
        "tab": "15f61b70a11fa5a1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "15f61b70a11fa5a1",
        "type": "ui_tab",
        "name": "Flow3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
